<script>
  import index from '../index';

  export default {
    name: "dir_id",
    extends: index,
    data() {
      return {
        showBackButton: true
      }
    },
    async asyncData(ctx) {
      const { app, params } = ctx;
      const id = params.id;
      const root = await app.$axios.get('/list_directory');
      let initialFiles = await app.$axios.$get('/list_directory/' + id);
      if (!initialFiles) {
        initialFiles = [];
      }
      return {
        initialFiles,
        filesInModal: root.data,
        currentDirectory: id,
      }
    },
  };
</script>

<style scoped>

</style>
