.btn {
  color: #107cff;
  background-color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 1em 1.5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 20px;
}
.btn:hover {
  background-color: #107cff;
  box-shadow: 0px 15px 20px rgba(16, 124, 255, 0.4);
  color: #fff;
}
.btn:focus {
  transform: translateY(0px);
  color: #107cff !important;
  background-color: #ffffff !important;
  box-shadow: 0 5px 5px rgba(16, 124, 255, 0.4) !important;
}

.input {
  position: relative;
  font-size: 0;
  line-height: 1.5;
  outline: 0;
  height: auto;
  padding: 0;

  &__original {
    display: block;
    width: 100%;
    padding: 8px 15px;
    color: #343a40;
    font-size: 15px;
    background-color: #fff9;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: border .2s, background-color .2s;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    height: 40px;
  }

  &__original-disabled {
    background-color: rgba(140, 134, 134, 0.21)
  }
}

