<template>
  <div class="col-6 right-col">
    <div class="createNewItem" v-click-outside="hideInputField">
      <div class="buttons">
        <div v-if="showBackButton" class="back-button" @click="returnBackHandle">
          <img src="/back.svg" alt="back" class="back-button-image">
        </div>

        <CreateNewButton
          :title="folder.button"
          @create-button-clicked="createNewItem"
        />
        <CreateNewButton
          :title="file.button"
          @create-button-clicked="createNewItem"
        />
        <div class="col reset" @click="openPopup">
          <button class="btn" id="reset">
            Reset all
          </button>
        </div>
      </div>
      <div class="inputs">
        <NewItem
          v-if="showNewFolderField"
          :title="folder.input"
          :image="folder.img"
          :is-folder="true"
          @new-item-created="(isFolder, name) => $emit('new-item-created', true, name)"
        />
        <NewItem
          v-else-if="showNewFileField"
          :title="file.input"
          :image="file.img"
          :is-folder="false"
          @new-item-created="(isFolder, name) => $emit('new-item-created', false, name)"
        />
      </div>
      <div v-if="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
    <div class="download-container">
      <div
        class="downloader"
        :class="[showNewFolderField || showNewFileField ? `shift-down` : ``, errorMessage ? `shift-down-with-error` : ``]"
      >
        <ListOfItems
          @open-folder="(val) => $emit('open-folder', val)"
          @delete-folder="(folder_id, openModal) => $emit('delete-folder', folder_id, openModal)"
          @delete-file="(file_id, openModal) => $emit('delete-file', file_id, openModal)"
          @move-file="(file_id, openModal) => $emit('move-file', file_id, openModal)"
          @copy-file="(file_id) => $emit('copy-file', file_id)"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import ListOfItems from "./Menu/ListOfItems";
  import CreateNewButton from "./Menu/CreateNewButton";
  import NewItem from "./Menu/NewItemInput";
  import ClickOutside from "vue-click-outside";
  import FolderItem from "./Menu/FolderItem";

  export default {
    name: "DownloadContainer",
    components: { FolderItem, NewItem, CreateNewButton, ListOfItems },
    directives: {
      ClickOutside
    },
    props: {
      showBackButton: {
        type: Boolean
      },
      errorMessage: {
        type: String
      }
    },
    data() {
      return {
        showNewFolderField: false,
        showNewFileField: false,
        folder: {
          button: "New folder",
          input: "Folder name",
          img: "/folder.svg"
        },
        file: { button: "New file", input: "File name", img: "/file.svg" }
      };
    },
    methods: {
      createNewItem(type) {
        if (type === this.folder.button) {
          this.showNewFolderField = true;
          this.showNewFileField = false;
        } else {
          this.showNewFileField = true;
          this.showNewFolderField = false;
        }
      },
      hideInputField() {
        this.showNewFolderField = false;
        this.showNewFileField = false;
        this.$emit('remove-error-message');
      },
      openPopup() {
        this.$emit("open-reset-modal", true);
      },
      returnBackHandle() {
        this.$router.go(-1);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .right-col {
    position: relative;

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      .back-button {
        margin-top: 20px;
        cursor: pointer;

        &-image {
          width: 25px;
        }
      }

      .col {
        display: flex;
        margin: 15px 15px 0 15px;
        align-items: center;
        padding: 5px;
      }

      .reset .btn {
        background: #107cff;
        color: white;
        width: auto;
      }

      .reset .btn:hover {
        background-color: #0668ed;
        box-shadow: 0px 5px 20px rgba(16, 124, 255, 0.4);
      }
      .reset .btn:focus {
        color: #fff !important;
        background-color: #0667de !important;
        box-shadow: 0px 5px 10px rgba(16, 124, 255, 0.4) !important;
      }
    }

    .downloader {
      height: 90vh;
      padding: 90px 40px 30px;
      overflow: hidden;
    }

    .shift-down {
      padding: 140px 40px 30px;
      &-with-error {
        padding: 165px 40px 30px;
      }
    }

    .inputs {
      padding: 0 40px 10px;
      width: 100%;
    }
    .error-message {
      padding: 0 40px;
      color: darkred;
      font-weight: bold;
      font-family: Menlo, "Roboto Mono", monospace;
    }
  }

  .createNewItem {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    width: calc(100% - 18px);
    left: 0;
    z-index: 20;
  }

  .download-container {
    position: relative;
    height: 90vh;
    overflow: auto;
  }

  @media screen and (max-width: 768px) {
    .download-container .buttons {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 1200px) {
    .download-container .buttons {
      .reset .btn {
        /*width: 150px;*/
        font-size: 10px;
      }
    }
  }
</style>
