<template>
  <div class="uploader">
    <form class="file-uploader" @dragend="dragOver = true" @dragleave="dragOver = false">
      <div
        :class="['box', { 'focused': dragOver }]"
        @drop.prevent="uploadFileDropDown"
        @dragover.prevent
      >
        <img class="upload-file" src="/upload.svg" alt="upload" />
        <h3 class="drop-title">
          Drag <span class="and">&</span> Drop your files
        </h3>
      </div>
      <label class="btn" for="file-input">
        Browse
      </label>
      <input class="btn" id="file-input" type="file" @input="uploadFile" />
      <small v-if="error">{{ error }}</small>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
  name: "UploadContainer",
  computed: {
    ...mapState("uploading", [
      "file",
      "error",
      "aborted",
      "completed",
      "uploadedSize"
    ]),
    ...mapState("files", ["currentDirectory"])
  },
  data() {
    return {
      dragOver: false
    };
  },
  methods: {
    ...mapMutations("files", ["setCurrentDirectory"]),
    ...mapMutations("uploading", ["setupFile"]),
    ...mapActions("uploading", ["start", "sendNext"]),

    uploadFileDropDown(e) {
      this.dragOver = false;
      let droppedFiles = e.dataTransfer.files;
      if (!droppedFiles || !droppedFiles.length) return;
      this.uploadFileHandler(droppedFiles[0]);
    },
    async uploadFileHandler(file) {
      if (file) {
        this.setupFile(file);

        await this.start({
          file_name: file.name,
          size: file.size,
          directory_id: this.currentDirectory
        });
        this.sendNext();
      }
    },
    async uploadFile(input) {
      await this.uploadFileHandler(input.target.files[0]);
    }
  }
};
</script>

<style lang="scss" scoped>
.uploader {
  padding: 30px 40px;
  height: 100%;
  align-items: center;

  small {
    margin-top: 15px;
    color: darkred;
    font-weight: bold;
    font-family: Menlo, "Roboto Mono", monospace;
  }

  .file-uploader {
    flex: 0 1 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      border: 2px dashed #107cff;
      border-radius: 10px;
      padding: 10px 50px;
      flex: 1;
      max-height: 250px;
      justify-content: center;

      &.focused {
        background: rgba(16, 124, 255, 0.04);
      }

      .upload-file {
        width: 50px;
        margin-bottom: 20px;
      }
      .drop-title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;

        .and {
          font-weight: 700;
          font-family: "Playfair Display", "Proxima Nova", sans-serif;
        }
      }
    }
    #file-input {
      display: none;
    }
    label[for="file-input"] {
      height: 45px;
    }
    label[for="file-input"]:hover {
      transform: translateY(-7px);
    }
  }
}
@media screen and (max-width: 992px) {
  .uploader .file-uploader {
    flex-wrap: nowrap;
    .box {
      display: none;
    }
  }
}
@media (max-height: 500px) {
  .uploader .file-uploader .box {
    padding: 30px;

    .drop-title {
      font-size: 20px !important;
    }
  }
}
</style>
