<template >
  <div id="modal-template">
    <div class="modal" v-show="show">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            {{ text }}
          </div>
          <div class="modal-footer uk-clearfix">
            <button @click="failure" class="btn">No</button>
            <button @click="success" class="btn btn-success">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ConfirmModal",
    props: {
      show: {
        type: Boolean,
        required: true
      },
      text: {
        type: String,
        required: true,
      }
    },
    methods: {
      success() {
        this.$emit('confirm', true, false)
      },
      failure() {
        this.$emit('confirm', false, false)
      }
    }
  };
</script>

<style lang="scss">
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: table;
    transition: opacity .3s ease;
    z-index: 30;

    &-wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    &-container {
      background: #fff;
      width: 400px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      margin: 0 auto;
      padding: 20px 30px;
      .modal-body {
        font-size: 18px;
        text-align: center;
      }
    }

    &-footer {
      margin-top: 15px;
      display: flex;
      justify-content: space-around;
      .btn-success {
        background: #107cff;
        color: white;
      }
    }

    &-enter, &-leave {
      opacity: 0;
    }

    &-enter &-container,
    &-leave &-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

</style>
