<template>
  <div id="modal-template">
    <div class="modal" v-show="show">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            <FolderItem
              v-for="folder in folders"
              :key="folder.id"
              :folder="folder"
              :show-more="false"
              @open-folder="(val) => $emit('open-folder', val)"
            />
          </div>
          <div class="modal-footer uk-clearfix">
            <button @click="failure" class="btn">Cancel</button>
            <button @click="success" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import FolderItem from "../Menu/FolderItem";
  import FileItem from "../Menu/FileItem";
  export default {
    name: "MoveFileModal",
    components: { FileItem, FolderItem },
    props: {
      show: {
        type: Boolean,
        required: true
      },
      files: {
        type: Array,
        required: true
      }
    },
    computed: {
      folders() {
        return Array.isArray(this.files) ? this.files.filter(item => item.is_dir === true) : [];
      },
      fileItems() {
        return Array.isArray(this.files) ? this.files.filter(item => item.is_dir === false) : [];
      }
    },
    methods: {
      success() {
        this.$emit('confirm', true, false)
      },
      failure() {
        this.$emit('confirm', false, false)
      }
    }
  };
</script>

<style scoped>

</style>
