<template>
  <div class="container">
    <div class="files">
      <div class="col-6">
        <UploadContainer />
      </div>
      <DownloadContainer
        @open-folder="openFolder"
        @open-reset-modal="(val) => resetModal.show = val"
        @delete-folder="deleteFolderHandle"
        @delete-file="deleteFileHandle"
        @move-file="moveFileHandle"
        @copy-file="copyFile"
        @new-item-created="createNewItem"
        @remove-error-message="errorMessage = ''"
        :showBackButton="showBackButton"
        :errorMessage="errorMessage"
      />
    </div>
    <ConfirmModal :show="resetModal.show" :text="resetModal.text" @confirm="resetModalHandle"/>
    <ConfirmModal :show="deleteFolderModal.show" :text="deleteFolderModal.text" @confirm="deleteFolderModalHandle"/>
    <ConfirmModal :show="deleteFileModal.show" :text="deleteFileModal.text" @confirm="deleteFileModalHandle"/>
    <MoveFileModal :show="moveFileModal.show" :files="filesInModal" @confirm="moveFileModalHandle" @open-folder="openFolderInModal"/>
  </div>
</template>

<script>

  import { mapMutations, mapState, mapActions } from "vuex";
  import UploadContainer from "../components/UploadContainer";
  import DownloadContainer from "../components/DownloadContainer";
  import ConfirmModal from "../components/Modal/ConfirmModal";
  import MoveFileModal from "../components/Modal/MoveFileModal";

export default {
  components: { MoveFileModal, ConfirmModal, DownloadContainer, UploadContainer },
  async asyncData({ $axios }) {
    try {
      const request = await $axios.get('/list_directory');
      const initialFiles = request.data;
      return {
        initialFiles,
        filesInModal: initialFiles,
        currentDirectory: request.data.id,
      }
    } catch (e) {
      console.error(e);
      return {
        initialFiles: []
      }
    }
  },
  created() {
    this.setCurrentDirectory(this.currentDirectory);
    this.setFiles(this.initialFiles)
  },
  data() {
    return {
      resetModal: {
        show: false,
        text: 'Are you sure to reset the file system?'
      },
      deleteFolderModal: {
        show: false,
        text: 'Are you sure to delete the folder?'
      },
      deleteFileModal: {
        show: false,
        text: 'Are you sure to delete the file?'
      },
      moveFileModal: {
        show: false,
      },
      initialFiles: [],
      filesInModal: [],
      showBackButton: false,
      itemIdForRemoving: '',

      fileIdForMoving: '',
      currentFolderIdInModel: null,
      errorMessage: ''
    }
  },
  methods: {
    ...mapMutations('files', ['setCurrentDirectory', 'setFiles', 'addNewFile', 'removeItemFromFiles', 'incrementSizeOfDirectory']),
    ...mapMutations("uploading", ["setupFile"]),
    ...mapActions("uploading", ["start", "sendNext"]),

    //folder
    openFolder(folder_id) {
      this.$router.push('/dir/' +folder_id);
    },

    deleteFolderHandle(folder_id, openModal) {
      this.deleteFolderModal.show = openModal;
      this.itemIdForRemoving = folder_id;
    },

    async deleteFolderModalHandle(confirm, show) {
      this.deleteFolderModal.show = show;
      if (confirm) {
        await this.$axios.delete('/rm/' + this.itemIdForRemoving);
        this.removeItemFromFiles(this.itemIdForRemoving);
      }
      this.itemIdForRemoving = 0;
    },
    async openFolderInModal(folder_id) {
      this.currentFolderIdInModel = folder_id;
      try {
        const request = await this.$axios.get('/list_directory/' + folder_id);
        this.filesInModal = request.data;
      } catch (e) {
        console.error(e);
      }
    },

    //file
    async deleteFileHandle(file_id, openModal) {
      this.deleteFileModal.show = openModal;
      this.itemIdForRemoving = file_id;
    },

    async deleteFileModalHandle(confirm, show) {
      this.deleteFileModal.show = show;
      if (confirm) {
        await this.$axios.delete('/rm/' + this.itemIdForRemoving);
        this.removeItemFromFiles(this.itemIdForRemoving);
      }
      this.itemIdForRemoving = 0;
    },

    async copyFile(file_id) {
      const params = {
        file_id: file_id
      };
      let newCopy = await this.$axios.patch('/copy', params);
      this.addNewFile(newCopy.data);
    },

    async moveFileHandle(file_id, openModal) {
      this.moveFileModal.show = openModal;
      this.fileIdForMoving = file_id;
    },

    async moveFileModalHandle(confirm, show) {
      this.moveFileModal.show = show;
      try {
        const request = await this.$axios.get('/list_directory');
        this.filesInModal = request.data;
        if (!confirm) {
          this.currentFolderIdInModel = null;
        }
        else {
          const params = {
            file_id: this.fileIdForMoving,
            directory_id:  this.currentFolderIdInModel
          };
          console.log(params);
          await this.$axios.patch('/move', params);
          if (Number(this.currentDirectory) !== Number(this.currentFolderIdInModel)) {
            this.removeItemFromFiles(this.fileIdForMoving);
            this.incrementSizeOfDirectory(this.currentFolderIdInModel)
          }
          this.currentFolderIdInModel = null;
        }
      } catch (e) {
        console.error(e)
      }
    },

    async resetModalHandle(confirm, show) {
      this.resetModal.show = show;
      if (confirm) {
        const result = await this.$axios.delete('/reset');
        if (result.data && result.data.space)
          alert(`DFS flushed, total space left: ${Math.ceil(result.data.space / 1024 / 1024)}MiB`);
        this.setFiles([]);
        this.$router.push('/');
      }
    },

    async createNewItem(isFolder, name) {
      if (isFolder) {
        this.errorMessage = '';
        const params = {
          name: name,
          directory_id: this.$router.app.context.params.id
        };
        try {
          const newFolder = await this.$axios.put('/mkdir', params);
          await this.addNewFile(newFolder.data);
        } catch(error) {
          if (error.response) {
            console.log(error.response.data);
            this.errorMessage = error.response.data;
          }
        }
      } else {
        this.setupFile(new File([], name));

        await this.start({
          file_name: name,
          size: 0,
          directory_id: this.currentDirectory
        });
        this.sendNext();
      }
    }
  }
}
</script>

<style lang="scss">
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("/background.jpg");
    .files{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
      width: 50%;
      flex: 0 1 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 15px;
      max-height: 90vh;
      overflow: hidden;
      .col-6 {
        flex: 40%;
        height: 90vh;
      }

      .right-col {
        flex: 60%;
        max-height: 90vh;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .container .files{
      flex-wrap: wrap;
      max-height: initial;
    }

    .container {
      height: initial;
      padding: 10% 0;
    }

    .right-col .downloader {
      height: auto !important;
    }
    .uploader {
      height: auto !important;
    }

    .container .files .col-6 {
      height: auto;
      max-height: initial !important;
      max-width: 100%;
    }

    .download-container {
      height: auto !important;
    }

    .uploader {
      height: auto !important;
    }

    .container .files .col-6 {
      height: auto;
      max-height: initial !important;
      flex: 100%;
      max-width: 100%;
    }

    .download-container {
      height: auto !important;
    }

    .right-col .buttons {
      flex-direction: column;
    }

    .right-col .downloader {
      padding: 40px 20px !important;
    }
  }
  @media (min-width: 1200px) {

  }

</style>

