<template>
  <div class="col add">
    <button class="btn" id="new" @click="$emit('create-button-clicked', title)">
      <img class="add__new-directory" src="/add.svg" alt="add" />
      {{ title }}
    </button>
  </div>
</template>

<script>
export default {
  name: "CreateNewButton",
  props: {
    title: {
      type: String
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.add {
  display: flex;
  margin-top: 15px;
  align-items: center;
  padding: 5px;
  margin-left: 35px;
  #new {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    .add__new-directory {
      width: 20px;
      margin-right: 20px;
    }
    &-title {
      font-size: 16px;
      color: #484848;
    }
  }
  #new:hover {
    background-color: #99c6fd45;
    box-shadow: 0px 5px 20px rgba(16, 124, 255, 0.4);
    color: #0e5ec5;
  }
}
@media screen and (max-width: 1200px) {
  .add #new {
    /*width: 150px;*/
    font-size: 10px;
    .add__new-directory {
      margin-right: 10px;
    }
  }
}
</style>
