<template>
  <div class="file-row">
    <div class="round">
      <p v-if="extension" class="extension"> {{ extension }}</p>
    </div>
    <div class="file-info">
      <h4 class="file-info__name">{{ file.name }}</h4>
      <div class="file-info__extra">
        <p class="file-info__size">{{ readableFileSize }}</p>
        <p class="file-info__date">{{ date }} </p>
        <transition name="fade">
          <p v-if="file.uploading" class="file-info__progress">{{ progress }}% Uploaded</p>
        </transition>
        <transition name="fade">
          <p v-if="file.downloading" class="file-info__progress">{{ downloadingProgress }}% Downloaded</p>
        </transition>
      </div>
    </div>
    <div class="download" @click="$emit('download-file', file.id, true)">
      <img
        class="download-image"
        src="/download.svg"
        alt="download"
      />
    </div>
    <div :class="['more', { 'hidden': file.uploading }]" @click="toggleMenu" v-click-outside="closeMenu" >
      <div v-if="menuShow" class="dropdown-content">
        <div class="dropdown-item" @click="$emit('copy-file', file.id)">Copy</div>
        <div class="dropdown-item" @click="$emit('move-file', file.id, true)">Move</div>
        <div class="dropdown-item last" @click="$emit('delete-file', file.id, true)">Delete</div>
      </div>
      <img class="more-button" src="/more.svg" alt="more" width="15" />
    </div>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
export default {
  name: "FileItem",
  data() {
    return {
      menuShow: false
    };
  },
  directives: {
    ClickOutside
  },
  props: {
    file: {
      type: Object
    },
    progress: Number,
    downloadedSize: Number
  },
  computed: {
    downloadingProgress() {
      if (!this.file.downloading) return 0;
      return Math.round(Math.min((this.downloadedSize / this.file.size * 100), 100));
    },
    extension() {
      if (this.file.name.includes('.')) {
        const splitted = this.file.name.split('.');
        return splitted[splitted.length - 1].toUpperCase();
      }
      else {
        return null;
      }
    },
    date() {
      let date = new Date(this.file.created_date);
      const options = {
        hour:  "numeric",
        minute: "2-digit",
        year: "numeric",
        month:"short",
        day:"numeric"
      };
      return date.toLocaleDateString('en-US', options);
    },
    readableFileSize() {
      const sizeInKiB = Math.ceil(this.file.size / 1024);
      if (sizeInKiB > 1024) return Math.ceil(sizeInKiB / 1024) + 'MiB';
      return  sizeInKiB + 'KiB';
    }
  },
  methods: {
    toggleMenu() {
      this.menuShow = !this.menuShow;
    },
    closeMenu() {
      this.menuShow = false;
    }
  }
};
</script>
<style lang="scss">
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
<style lang="scss" scoped>
.file-row {
  display: flex;
  margin: 10px 0;
  align-items: center;
  cursor: pointer;
  .round {
    min-width: 40px;
    height: 40px;
    border: 1px solid #107cff;
    border-radius: 50%;
    overflow: hidden;
    background: #e2eeff;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
    .extension {
      font-size: 12px;
      color: #107cff;
    }
  }
  .icon {
    margin-right: 15px;
    &-image {
      width: 30px;
    }
  }
  .file-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    width: 100%;
    &__name {
      font-size: 14px;
      color: #484848;
    }
    &__extra {
      display: flex;
      font-size: 12px;
      color: #777777;
      width: 100%;

      .file-info__date, .file-info__progress {
        margin-left: 15px;
      }
      .file-info__progress {
        color: #0e5ec5;
      }
    }
  }
  .download {
    margin: 0 2em;
    &-image {
      width: 20px;
      cursor: pointer;
    }
  }
  .number-of-downloads {
    margin-left: auto;
    margin-right: 2em;
    .number {
      font-size: 14px;
      color: #484848;
    }
  }
  .more {
    transition: opacity .5s ease-in;

    &.hidden {
      opacity: 0;
    }
  }
}
.file-row:hover {
  .file-info__name {
    color: #107cff;
  }
}
</style>
