<template>
  <div class="folder-row">
    <div class="folder-open-button" @click="$emit('open-folder', folder.id)">
      <div class="icon">
        <img class="icon-image" src="/folder.svg" alt="">
      </div>
      <div class="folder-info">
        <h4 class="folder-info__name">{{ folder.name }}</h4>
        <p class="folder-info__items">{{ folder.size }} items</p>
      </div>
    </div>
    <div v-if="showMore" class="more" @click="toggleMenu" v-click-outside="closeMenu">
      <div v-if="menuShow" class="dropdown-content">
        <div class="dropdown-item last" @click="$emit('delete-folder', folder.id, true)">Delete</div>
      </div>
      <img class="more-button" src="/more.svg" alt="more" width="15"/>
    </div>
  </div>
</template>

<script>
  import ClickOutside from 'vue-click-outside'
  export default {
    name: "FolderItem",
    data() {
      return {
        menuShow: false
      };
    },
    directives: {
      ClickOutside
    },
    props: {
      showMore: {
        type: Boolean,
        default: true
      },
      folder: {
        type: Object,
        required: true
      }
    },
    methods: {
      toggleMenu() {
        this.menuShow = !this.menuShow;
      },
      closeMenu() {
        this.menuShow = false;
      }
    }
  };
</script>

<style lang="scss">
  .more {
    margin-left: auto;
    display: flex;
    position: relative;

    &-button {
      width: 15px;
    }
    .dropdown-content {
      border-radius: 5px;
      position: absolute;
      background: #fff;
      box-shadow: 0px 5px 20px rgba(16, 124, 255, 0.4);
      right: 2px;
      top: 22px;
      z-index: 10;
      overflow: hidden;

      .dropdown-item {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
      .dropdown-item.last {
        border-bottom: none !important;
      }
      .dropdown-item:hover {
        background: rgba(16, 124, 255, 0.1);
        color: #094697;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
</style>

<style lang="scss" scoped>
  .folder-row {
    display: flex;
    margin: 10px 0;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;

    .folder-open-button {
      display: flex;
      width: calc(100% - 30px);

      .icon {
        width: 35px;
        height: 35px;
        margin-right: 20px;
      }

      .folder-info {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        &__name {
          font-size: 14px;
          color: #484848;
        }

        &__items {
          font-size: 12px;
          color: #777777;
        }
      }

    }
  }

  .folder-row:hover {
    .folder-info__name {
      color: #107cff;
    }
  }


</style>
