<template>
  <div class="list-container">
    <FolderItem
      v-for="(folder, ind) in folders"
      :key="folder.id"
      :folder="folder"
      @open-folder="(val) => $emit('open-folder', val)"
      @delete-folder="(folder_id, openModal) => $emit('delete-folder', folder_id, openModal)"
      :class="ind === folders.length-1 ? `last-folder-item`: ''"
    />

    <FileItem
      v-for="file in fileItems"
      :key="file.id"
      :file="file"
      :progress="progress"
      :downloaded-size="downloadedSize"
      @download-file="(file_id) => downloadFile(file_id)"
      @move-file="(file_id, openModal) => $emit('move-file', file_id, openModal)"
      @copy-file="(file_id) => $emit('copy-file', file_id)"
      @delete-file="(file_id, openModal) => $emit('delete-file', file_id, openModal)"
    />

    <div v-if="!fileItems || (fileItems.length === 0 && folders.length === 0)" class="empty">
      <img src="/empty.svg" alt="Empty directory" />
    </div>
  </div>

</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import FileItem from "./FileItem";
  import FolderItem from "./FolderItem";
  export default {
    name: "ListOfItems",
    components: { FolderItem, FileItem },
    computed: {
      ...mapState('files', ['files']),
      ...mapState('uploading', {
        progress: state => {
          return state.file && state.file.size
            ? Math.round(Math.min((state.uploadedSize / state.file.size * 100), 100)) : 0;
        },
        downloadedSize: state => state.downloadedSize
      }),
      folders() {
        return this.files && Array.isArray(this.files) ? this.files.filter(item => item.is_dir === true) : [];
      },
      fileItems() {
        return this.files && Array.isArray(this.files) ? this.files.filter(item => item.is_dir === false) : [];
      }
    },
    methods: {
      ...mapActions('uploading', ['downloadFile']),
    }
  };
</script>

<style lang="scss">
  .list-container {
    padding-bottom: 20px;
    position: relative;
    height: 100%;

    .last-folder-item {
      border-bottom: 1px solid #107cff59;
      padding-bottom: 20px;
      margin-bottom:  20px;
    }

    .empty {
      width: 100%;
      position: absolute;
      bottom: -15%;
      left: 0;

      img {
        width: 130%;
        opacity: 0.7;
      }
    }
  }
</style>
