<template>
  <div class="row">
    <form id="name-form" name="name-form">
      <div class="icon">
        <img class="icon-image" :src="image" alt="" />
      </div>
      <div class="input fit-container">
        <input
          v-model="name"
          id="name"
          type="text"
          name="name"
          :placeholder="title"
          class="input__original"
        />
      </div>
      <button class="btn save-btn" @click.prevent="saveHandle">Save</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "NewItem",
  data() {
    return {
      name: ''
    }
  },
  props: {
    title: {
      type: String
    },
    image: {
      type: String
    },
    isFolder: {
      type: Boolean
    }
  },
  methods: {
    saveHandle() {
      this.$emit('new-item-created', this.isFolder, this.name);
      this.name = '';
    }
  }
};
</script>

<style lang="scss" scoped>

#name-form {
  display: flex;
  margin-top: 30px;
  align-items: center;


  .input__original[data-v-131d5a3c] {
    padding: 3px 15px;
    height: 36px;
    font-size: 14px;
    border-color: #eee;
  }

  .icon {
    margin-right: 15px;
    display: flex;
    &-image {
      width: 35px;
      margin-left: 6px;
    }
  }

  .input {
    flex: 50%;
    margin-right: 20px;
  }
  .save-btn {
    width: 100px;
    padding: 8px 1em;
    background: #107cff;
    color: #fff;
  }
  .save-btn:hover {
    box-shadow: 0px 5px 20px rgba(16, 124, 255, 0.4);
    background: #107cffd9;
  }
}
</style>
